<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <h1>{{name}}'s First Angular Project</h1>
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/ship.jpg">
</div>
<h3>Here are some links to help you start: </h3>
<ul>
  <li>
    <h2> {{itemList[1]}}</h2>
  </li>
  <li>
    <h2> {{itemList[2]}}</h2>
  </li>
  <li>
    <h2> {{itemList[0]}}</h2>
  </li>
</ul>
rectangle = {
  length: 5,
  width: 6,
  area: function() {
     return this.length * this.width;
  }
}
<p>
  "The rectangle has a length of {{rectangle.length}} cm, a width of {{rectangle.width}} cm, and an area of {{rectangle.area}} cm^2."
</p>
